* text=auto !eol
docs/TODOs.txt svneol=native#text/plain
docs/collection_feed.png -text svneol=unset#image/png
docs/fragments_feed.png -text svneol=unset#image/png
docs/install_isidorus.txt svneol=native#text/plain
docs/isidorus_classes.pdf -text svneol=unset#application/pdf
docs/overview_feed.png -text svneol=unset#image/png
docs/snapshots_feed.png -text svneol=unset#image/png
docs/xtm_json.txt -text
src/external/PRACTICALS_LICENSE -text
src/external/pathnames.asd -text
src/isidorus.asd -text
src/json/javascripts/1FB55F1A3A5622AF92311D32959EA0CA.cache.html -text
src/json/javascripts/4C85F94656A4E07EE28EF710E0ED52CF.cache.html -text
src/json/javascripts/548CDF11D6FE9011F3447CA200D7FB7F.cache.png -text
src/json/javascripts/6463AB442A9BE6934A0834912B6C6F78.cache.html -text
src/json/javascripts/812CCD528AFC9E4227D2C17BBE9F3AFF.cache.html -text
src/json/javascripts/9DA92932034707C17CFF15F95086D53F.cache.png -text
src/json/javascripts/B631E838A4EE362D4332CE0552D1568E.cache.html -text
src/json/javascripts/clear.cache.gif -text
src/json/javascripts/com.google.gwt.sample.isidorusWithGWT.isidorusWithGWT.nocache.js -text
src/json/javascripts/fragment.json -text
src/json/javascripts/gwt/standard/images/corner.png -text
src/json/javascripts/gwt/standard/images/hborder.png -text
src/json/javascripts/gwt/standard/images/ie6/corner_dialog_topleft.png -text
src/json/javascripts/gwt/standard/images/ie6/corner_dialog_topright.png -text
src/json/javascripts/gwt/standard/images/ie6/hborder_blue_shadow.png -text
src/json/javascripts/gwt/standard/images/ie6/hborder_gray_shadow.png -text
src/json/javascripts/gwt/standard/images/ie6/vborder_blue_shadow.png -text
src/json/javascripts/gwt/standard/images/ie6/vborder_gray_shadow.png -text
src/json/javascripts/gwt/standard/images/vborder.png -text
src/json/javascripts/gwt/standard/standard.css -text
src/json/javascripts/gwt/standard/standard_rtl.css -text
src/json/javascripts/history.html -text
src/json/javascripts/hosted.html -text
src/json/javascripts/isidorusWithGWT.css -text
src/json/javascripts/isidorusWithGWT.example.tar.gz -text
src/json/javascripts/json_interface.html -text
src/json/javascripts/psis.json -text
src/json/json_importer.lisp -text
src/json/json_interface.html -text
src/rest_interface/set-up-json-interface.lisp -text
src/unit_tests/atom_test.xtm -text
src/unit_tests/dangling_instanceof.xtm -text
src/unit_tests/dangling_topicref.xtm -text
src/unit_tests/duplicate_identifier.xtm -text
src/unit_tests/inconsistent.xtm -text
src/unit_tests/inconsistent_2_0.xtm -text
src/unit_tests/multiple_tms_ont.xtm -text
src/unit_tests/multiple_tms_worms.xtm -text
src/unit_tests/notification_merge1.xtm -text
src/unit_tests/notification_merge2.xtm -text
src/unit_tests/notificationbase.xtm -text
src/unit_tests/sample_objects.xtm -text
src/unit_tests/sample_objects_2_0.xtm -text
src/unit_tests/t100.xtm -text
src/xml/core_psis.xtm -text
