* text=auto !eol
docs/LGPL-LICENSE.txt -text
docs/LLGPL-LICENSE.txt -text
docs/TODOs.txt svneol=native#text/plain
docs/collection_feed.png -text svneol=unset#image/png
docs/fragments_feed.png -text svneol=unset#image/png
docs/install_isidorus.txt svneol=native#text/plain
docs/isidorus_data_model.pdf -text svneol=unset#unset
docs/isidorus_data_model.vsd -text
docs/json.ebnf -text
docs/overview_feed.png -text svneol=unset#image/png
docs/snapshots_feed.png -text svneol=unset#image/png
docs/xtm_json.txt -text
playground/abcl-test/.classpath -text
playground/abcl-test/.project -text
playground/abcl-test/.settings/org.eclipse.jdt.core.prefs -text
playground/abcl-test/lib/abcl.jar -text
playground/abcl-test/lisp-code/TM-SPARQL/filter_wrappers.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/sparql.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/sparql_constants.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/sparql_filter.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/sparql_parser.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/sparql_special_uris.lisp -text
playground/abcl-test/lisp-code/TM-SPARQL/tmsparql_core_psis.xtm -text
playground/abcl-test/lisp-code/base-tools/base-tools.lisp -text
playground/abcl-test/lisp-code/test-code/functions.lisp -text
playground/abcl-test/src/program/Main.java -text
playground/call-next-method.lisp -text
playground/call-next-method_multiple-inheritance.lisp -text
playground/ii_versioned_association.lisp -text
playground/isidorus_test.sh -text
playground/system_crash.lisp -text
playground/threading_debugging.lisp -text
playground/url_test.html -text
playground/url_test.js -text
playground/versioned-pointer.lisp -text
src/TM-SPARQL/filter_wrappers.lisp -text
src/TM-SPARQL/sparql.lisp -text
src/TM-SPARQL/sparql_constants.lisp -text
src/TM-SPARQL/sparql_filter.lisp -text
src/TM-SPARQL/sparql_parser.lisp -text
src/TM-SPARQL/sparql_special_uris.lisp -text
src/TM-SPARQL/tmsparql_core_psis.xtm -text
src/ajax/css/frame.css -text
src/ajax/css/main.css -text
src/ajax/css/navi.css -text
src/ajax/css/tree.css -text
src/ajax/isidorus.html -text
src/ajax/javascripts/ajaxLoader_big.gif -text
src/ajax/javascripts/ajaxLoader_small.gif -text
src/ajax/javascripts/constants.js -text
src/ajax/javascripts/create.js -text
src/ajax/javascripts/datamodel.js -text
src/ajax/javascripts/edit.js -text
src/ajax/javascripts/external/MIT-LICENSE.txt -text
src/ajax/javascripts/external/prototype/prototype.js -text
src/ajax/javascripts/external/scriptaculous/builder.js -text
src/ajax/javascripts/external/scriptaculous/controls.js -text
src/ajax/javascripts/external/scriptaculous/dragdrop.js -text
src/ajax/javascripts/external/scriptaculous/effects.js -text
src/ajax/javascripts/external/scriptaculous/scriptaculous.js -text
src/ajax/javascripts/external/scriptaculous/slider.js -text
src/ajax/javascripts/external/scriptaculous/sound.js -text
src/ajax/javascripts/external/scriptaculous/unittest.js -text
src/ajax/javascripts/home.js -text
src/ajax/javascripts/navi.js -text
src/ajax/javascripts/requests.js -text
src/ajax/javascripts/search.js -text
src/ajax/javascripts/tmcl_tools.js -text
src/base-tools/base-tools.lisp -text
src/external/PRACTICALS_LICENSE -text
src/external/pathnames.asd -text
src/isidorus.asd -text
src/json/json_delete_interface.lisp -text
src/json/json_importer.lisp -text
src/json/json_tmcl.lisp -text
src/json/json_tmcl_constants.lisp -text
src/json/json_tmcl_validation.lisp -text
src/model/trivial-queries.lisp -text
src/rest_interface/set-up-json-interface.lisp -text
src/unit_tests/atom_test.xtm -text
src/unit_tests/dangling_instanceof.xtm -text
src/unit_tests/dangling_topicref.xtm -text
src/unit_tests/datamodel_test.lisp -text
src/unit_tests/duplicate_identifier.xtm -text
src/unit_tests/full_mapping.rdf -text
src/unit_tests/inconsistent.xtm -text
src/unit_tests/inconsistent_2_0.xtm -text
src/unit_tests/multiple_tms_ont.xtm -text
src/unit_tests/multiple_tms_worms.xtm -text
src/unit_tests/notification_merge1.xtm -text
src/unit_tests/notification_merge2.xtm -text
src/unit_tests/notificationbase.xtm -text
src/unit_tests/poems.rdf -text
src/unit_tests/poems.xtm -text
src/unit_tests/poems_light.rdf -text
src/unit_tests/poems_light.xtm -text
src/unit_tests/poems_light.xtm.txt -text
src/unit_tests/poems_light_tm_ii.xtm -text
src/unit_tests/poems_light_tm_ii_merge.xtm -text
src/unit_tests/poems_light_tm_reification_xtm1.0.xtm -text
src/unit_tests/rdf_exporter_test.lisp -text
src/unit_tests/rdf_importer_test.lisp -text
src/unit_tests/reification.rdf -text
src/unit_tests/reification_test.lisp -text
src/unit_tests/reification_xtm1.0.xtm -text
src/unit_tests/reification_xtm2.0.xtm -text
src/unit_tests/sample_objects.xtm -text
src/unit_tests/sample_objects_2_0.xtm -text
src/unit_tests/sparql_test.lisp -text
src/unit_tests/t100.xtm -text
src/unit_tests/textgrid.xtm -text
src/unit_tests/textgrid_old.xtm -text
src/unit_tests/threading_test.lisp -text
src/unit_tests/trivial_queries_test.lisp -text
src/xml/rdf/exporter.lisp -text
src/xml/rdf/importer.lisp -text
src/xml/rdf/map_to_tm.lisp -text
src/xml/rdf/rdf_core_psis.xtm -text
src/xml/rdf/rdf_tools.lisp -text
src/xml/xtm/core_psis.xtm -text
